body{
    margin: 0;
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.5fr;
    grid-template-rows: 1fr 4fr 3fr 2fr;

    grid-template-areas: 
    "main   main   header"
    "main   main   candy"
    "nom    yum    candy"
    "footer footer candy"
    ;
    height: 100vh;
    margin: 2em;
}

main{
    grid-area: main;
    background: burlywood;
}

.nom{
    grid-area: nom;
    background: cadetblue;
}

.yum{
    grid-area: yum;
    background: coral;
}

.diabeetus{
    grid-area: footer;
    background:darkblue ;
    color: darkgray;
}

.candy{
    grid-area: candy;
    background: url('../image/withlove.jpg') no-repeat;
}